<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.pku.activities">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="cn.edu.pku.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    <activity
        android:name=".GuideActivity"
        android:label="APP Start">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    <activity
        android:name=".StartActivity"
        android:label="欢迎">
    </activity>

    <activity
        android:name="cn.edu.pku.activities.MainActivity"
        android:label="天气预报">
    </activity>

    <activity android:name="cn.edu.pku.activities.SelectCity" >

    </activity>

    <service android:name="cn.edu.pku.service.AutoUpdateService">

    </service>

    </application>
</manifest>
